.card-body{
    button{
        background-color: transparent;
        border: none;
        padding: 10px;
        background-color: rgba(128, 128, 128, 0);
        font-size: 20px;
    }
}

.card{
    max-height: 600px !important;
   img{
    height: 300px;
   }
}

.main__selects{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    :first select{
        border: 1px solid orangered;
    }
}