.adminHeader__all{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #060505;
}
.admin__left{
    a{
        font-size: 23px;
        text-decoration: none;
        color: white;
    }
}

.adminRight{
    a{
        font-size: 23px;
        text-decoration: none;
        color: white;
    }
}